# 统一换行与文本属性
* text=auto

# 源代码统一 LF
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.vue text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.toml text eol=lf
*.css text eol=lf
*.html text eol=lf

# 二进制文件不处理换行
*.xlsx binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
